<div class="col-6">
    <h1>{{titulo}}</h1>
    <form #userUpdateForm="ngForm" (ngSubmit)="onSubmit()" class="col">
        <div *ngIf="alertRegister">
            <div class="alert alert-success" role="alert">
                {{alertUpdate}}
            </div>
        </div>
        <p>
            <label for="">Nombre:</label>
            <input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" class="text form-control" required>
        </p>
        <p>
            <label for="">Correo:</label>
            <input type="text" #name="ngModel" name="email" [(ngModel)]="user.email" class="text form-control" required>
        </p>
        <p>
            <label for="">Contraseña:</label>
            <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="text form-control" required>
        </p>
        <input type="submit" value="Actualizar mis datos" class="btn btn-primary">
    </form>
</div>